[auth]
# Auth information: email and password.
email = email@example.com
password = secret

app_id = 3756128


[chat]
# Main chat for sending messages to.
main = 1


[database]
connection = sqlite:///vk_bot.sqlite


[cron]
send_uptime = 0 7 * 0 *
send_dollar_info = 0 7 * * *

process_commands = * * * * * *
