[auth]
# Auth information: email and password.
email = email@example.com
password = secret

app_id = 3756128


[chat]
# Main chat for sending messages to.
main = 1


[database]
connection = sqlite:///vk_bot.sqlite


[cron]
send_dollar_info = 0 7 * * *
send_euro_info = 0 7 * * *

process_commands = * * * * * *

[commands]
reminders_per_user = 2
reminders_count = 10

aliases_per_user = 3
