beautifulsoup4
croniter
eventlet>=0.17.4
html5lib
pbr
requests>=2.5.2
six
SQLAlchemy<1.1.0,>=0.9.9
git+https://github.com/dimka665/vk.git@398dab89f5dd0909ba75cc60c4fbd3e6357f1f9a#egg=vk # last commit on 27.02.2017

# Tests
unittest2
